.wrapper{
  

  .header{
    width:100%;
    height: 10vh;
    background-color: #5dbcd2;
    display:flex;
    flex-direction: row;
    z-index: 4;
    
    .group{
      width:30%;
      @media all and (min-width:$tablet){
        width:70%;
      }
      
    }

    .main-menu{
      width:70%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media all and (min-width:$tablet){
        width:30%;
      }
    }
  }

  li{
    
    display: inline-block;
    margin: 10px;
    a{
      text-align: left;
      color:white;
   
    }
  }
}