.nav-item{
  
    a:hover {
      background-color: #1d4456;
      // color: blue;
      border-radius: 10px;
    }
  
}



.dropdown-item:hover {
  background-color: #1d4456 !important;
}

// .inactive {
//   color: #fff;
//   text-decoration: none;
//   }
//   .active {
//   color: red;
//   text-decoration: none;
//   }