.portfolio-wrapper{
  
  
  height: 100%;
  margin-bottom: 0;
}

.portfolio-main{
  
  background-color: #1d4456;
  margin:0;
  
}

.card-container{

  margin:0;
  padding-top: 40px;
  padding-bottom: 20px;
  

  // display: flex;
  // justify-content: center;
  // align-items: center;
  text-align: center;
  .row{
    display: flex;
    justify-content: center;

  }
 
  h3{
    padding:5px;
    color:white;
    font-size: 18px;
    @media all and (min-width:$tablet){
      font-size:20px;
    }}



    .react-card-flip{
      border-radius: 5px;
    border: solid 1px #5dbcd2;
    
  margin:10px;
  position: relative;
    
    .collapsing{
      background-image: url(../../images/collapsing.jpg);}

    .awesome{
      background-image: url(../../images/awesome.jpg);
    }

    .api{
      background-image: url(../../images/showFinderApi.jpg);
    }

    .awesome-react{
      background-image: url(../../images/awesomeReact.jpg);
    }

    .ricky{
      background-image: url(../../images/ricky.jpg);
    }

    .yoga{
      background-image: url(../../images/yoga.jpg);
    }

    .climb{
      background-image: url(../../images/climbAround3.jpg);
    }

    .card-front{
      background-size: cover;
      background-position: center;
      
      position:relative;
      
      width:100%;
      
      
      height: 200px;
      @media all and (min-width:$tablet){
        height:240px;
      }


        button{
          position: absolute;
          left: 42%;
          bottom: 10px;
          background-color: #1d4456;
        }
    }

    .card-back{
      background: linear-gradient(to left, rgba(90, 158, 247, 0.7) 10%, rgba(6, 79, 95, 0.7));
      
      background-size: cover;
      background-position: center;
      position:relative;
      text-align: left;
      
        .card-back-container{
          height: 100%;
          
          margin-left: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          
        }
      
        a{
          display: block;
          text-decoration: none;
          color:white;
          i{
            width: 20px;
            margin-right: 10px;
            color:white;
          }

          
        }
        .project-description{
          margin-top: 10px;
          display:flex;
          justify-content: center;
          align-items: center;
          color:white;
         
          display: none;
          @media all and (min-width:$tablet){
            display: block;
            
          }
        }

      
        
      
      
      height: 200px;
      @media all and (min-width:$tablet){
        height:240px;
      }


        button{
          position: absolute;
          left: 42%;
          bottom: 10px;
          background-color: #1d4456;
          opacity: 1;
          z-index: 1;
        }
    }
  }

  .project-title{
    color:White;
  }

  }
