.card-container{
  margin:10px;
  margin-top: 40px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  text-align: center;
  .row{
    display: flex;
    justify-content: center;

  }
 

  .card{
    // border-radius: 5px;
    // border: solid 1px #5dbcd2;
    border: none;
    height: 300px;
      h3{
        padding:5px;
        font-size: 18px;
        @media all and (min-width:$tablet){
          font-size:20px;
        }}
    margin:10px;
    position: relative;

    .react-card-flip{
      border-radius: 5px;
    border: solid 1px #5dbcd2;
    
    .collapsing{
      background-image: url(../../images/collapsing.jpg);}

    .awesome{
      background-image: url(../../images/awesome.jpg);
    }

    // .collapsingBack{
    //   background: linear-gradient(to left, rgba(255,255,255,0.7) 10%, rgba(255,255,255,1)), url(../../images/collapsing.jpg);
    // }

    // .awesomeBack{
    //   background: linear-gradient(to left, rgba(255,255,255,0.7) 10%, rgba(255,255,255,1)), url(../../images/awesome.jpg);
    // }

    .card-front{
      background-size: cover;
      background-position: center;
      
      position:relative;
      
      width:100%;
      
      
      height: 200px;
      @media all and (min-width:$tablet){
        height:240px;
      }


        button{
          position: absolute;
          left: 42%;
          bottom: 10px;
          background-color: #5dbcd2;
        }
    }

    .card-back{
      background: linear-gradient(to left, rgba(186, 210, 241, 0.5) 10%, rgba(93, 188, 210, 0.3));
      
      background-size: cover;
      background-position: center;
      position:relative;
      text-align: left;
      
        .card-back-container{
          height: 100%;
          
          margin-left: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          
        }
      
        a{
          display: block;
          text-decoration: none;
          i{
            width: 20px;
            margin-right: 10px;
          }
        }

        .project-description{
          margin-top: 10px;
          display:flex;
          justify-content: center;
          align-items: center;
        }
      
      
      height: 200px;
      @media all and (min-width:$tablet){
        height:240px;
      }


        button{
          position: absolute;
          left: 42%;
          bottom: 10px;
          background-color: #5dbcd2;
          opacity: 1;
          z-index: 1;
        }
    }
  }

  }
}